<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="{85E53DAC-E61D-4E5B-8E2D-8A9D1F559975}"
           Name="Visual Rust MSBuild targets for Visual Studio 2017"
           Language="1033"
           Version="0.2.0.0"
           Manufacturer="The Piston Project"
           UpgradeCode="{29162666-B2C7-4F58-B6EE-810FE413B020}">
    <Package InstallerVersion="400" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <Feature Id="Ftr_MSBuild_Targets"
             Title="MSBuild targets for Visual Studio 2017"
             Description="MSBuild tasks and targets. This feature is required for building Visual Rust projects from command line and Visual Studio."
             Level="1"
             Absent="disallow">
      <ComponentGroupRef Id="CmpGroup_MSBuild" />
      <ComponentGroupRef Id="CmpGroup_MSBuild_Targets_XamlRules" />
    </Feature>

    <PropertyRef Id="VS2017_ROOT_FOLDER" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="VS2017_ROOT_FOLDER">
        <Directory Id="Dir_MSBuild" Name="MSBuild" >
          <Directory Id="Dir_MSBuild_InstallLocation" Name="VisualRust" ComponentGuidGenerationSeed="{F81FE3AC-0D27-4690-BE7D-CE830FB8FF8C}">
            <Directory Id="Dir_MSBuild_InstallLocation_Rules" Name="Rules" />
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Product>
</Wix>
