<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="Dir_vsx2013">
      <Directory Id="Dir_Racer" Name="Racer"/>
    </DirectoryRef>
    <ComponentGroup Id="CmpGroup_Racer" Directory="Dir_Racer">
      <Component Id="Cmp_racer_bf2373e_exe" Guid="{BC0C9FDF-6495-457E-9F8D-38FAC0202544}">
        <File Id="File_racer_bf2373e_exe" KeyPath="yes" Source="$(var.VisualRust.TargetDir)\Racer\racer-bf2373e.exe" />
      </Component>
      <Component Id="Cmp_libgcc_s_dw2_1_dll" Guid="{E64B2509-45B7-485E-822A-4274127D23E4}">
        <File Id="File_libgcc_s_dw2_1_dll" KeyPath="yes" Source="$(var.VisualRust.TargetDir)\Racer\libgcc_s_dw2-1.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>