<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define VsVersion  = "2015"?>
  <Fragment>
    <PropertyRef Id="VS14_ITEMTEMPLATES_DIR" />
    <DirectoryRef Id="TARGETDIR">
      <Directory Id="VS14_ITEMTEMPLATES_DIR">
        <Directory Id="Dir_item_templates_$(var.VsVersion)" Name="Rust"/>
      </Directory>
    </DirectoryRef>
    
    <ComponentGroup Id="CmpGroup_item_templates_$(var.VsVersion)" Directory="Dir_item_templates_$(var.VsVersion)">
      <Component Id="Cmp_Module_zip_$(var.VsVersion)" Guid="{3523CE3C-E11E-401C-BCCD-DF5F66C5FE2A}">
        <File Id="File_Module_zip_$(var.VsVersion)" KeyPath="yes" Source="$(var.VisualRust.Templates.TargetDir)ItemTemplates\Rust\127\Module.zip" />
      </Component>
    </ComponentGroup>

    <PropertyRef Id="VS14_PROJECTTEMPLATES_DIR" />
    <DirectoryRef Id="TARGETDIR">
      <Directory Id="VS14_PROJECTTEMPLATES_DIR">
        <Directory Id="Dir_proj_templates_$(var.VsVersion)" Name="Rust"/>
      </Directory>
    </DirectoryRef>
    
    <ComponentGroup Id="CmpGroup_proj_templates_$(var.VsVersion)" Directory="Dir_proj_templates_$(var.VsVersion)">
      <Component Id="Cmp_ApplicationProject_zip_$(var.VsVersion)" Guid="{08BA637A-280E-4CF1-BB23-9F3161914DC1}">
        <File Id="File_ApplicationProject_zip_$(var.VsVersion)" KeyPath="yes" Source="$(var.VisualRust.Templates.TargetDir)ProjectTemplates\Rust\127\ApplicationProject.zip" />
      </Component>
      <Component Id="Cmp_LibraryProject_zip_$(var.VsVersion)" Guid="{6C3322DC-C588-42B6-9848-D0523E273EB9}">
        <File Id="File_LibraryProject_zip_$(var.VsVersion)" KeyPath="yes" Source="$(var.VisualRust.Templates.TargetDir)ProjectTemplates\Rust\127\LibraryProject.zip" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>