<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Name="Visual Rust"
           Language="1033"
           Version="0.1.1.0"
           Manufacturer="The Piston Project"
           UpgradeCode="{B5CC88F7-BC23-4400-95D8-9EE3FA95CC3F}">
    <Package InstallerVersion="400"
             Compressed="yes"
             InstallScope="perMachine" />

    <WixVariable Id="WixUILicenseRtf" Value="..\LICENSE.rtf" />

    <UIRef Id="WixUI_FeatureTree" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of Visual Rust is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />


    <Property Id="VSLAUNCHER" >
      <DirectorySearch Path="[ProgramFilesFolder]\Common Files\Microsoft Shared\MSEnv" Depth="4" Id="FindVSLauncher">
        <FileSearch Name="VSLauncher.exe" />
      </DirectorySearch>
    </Property>

    <PropertyRef Id="VS2013_EXTENSIONS_DIR" />
    <PropertyRef Id="VS14_EXTENSIONS_DIR" />
    <DirectoryRef Id="TARGETDIR">
      <Directory Id="VS2013_EXTENSIONS_DIR">
        <Directory Id="Dir_vsx_2013" Name="Visual Rust"/>
      </Directory>
      <Directory Id="VS14_EXTENSIONS_DIR">
        <Directory Id="Dir_vsx_2015" Name="Visual Rust"/>
      </Directory>
    </DirectoryRef>

    <Feature Id="Ftr_MSBuild_Integration"
             Title="MSBuild integration"
             Description="MSBuild tasks and targets. This feature is required for building Visual Rust projects from command line and Visual Studio."
             Level="1"
             Absent="disallow">
      <ComponentGroupRef Id="CmpGroup_MSBuild_Integration" />
    </Feature>

    <PropertyRef Id="VS2013DEVENV" />
    <Feature Id="Ftr_VisualRust_2013"
         Title="Visual Studio 2013 extension"
         Description="Extension for Visual Studio 2013. Provides support for Rust projects."
         Level="1000">
      <Condition Level="1">
        <!-- This is not fully satisfying because the user can still enable it, but I hope most of our users are smarter than that  -->
        <![CDATA[Installed OR VS2013DEVENV]]>
      </Condition>
      <ComponentGroupRef Id="CmpGroup_vsx_2013"/>
      <ComponentGroupRef Id="CmpGroup_gdb.2013.i686"/>
      <ComponentGroupRef Id="CmpGroup_gdb.2013.x86_64"/>
      <ComponentGroupRef Id="CmpGroup_item_templates_2013"/>
      <ComponentGroupRef Id="CmpGroup_proj_templates_2013"/>
    </Feature>

    <PropertyRef Id="VS14DEVENV" />
    <Feature Id="Ftr_VisualRust_2015"
         Title="Visual Studio 2015 extension"
         Description="Extension for Visual Studio 2015. Provides support for Rust projects."
         Level="1000">
      <Condition Level="1">
        <!-- This is not fully satisfying because the user can still enable it, but I hope most of our users are smarter than that  -->
        <![CDATA[Installed OR VS14DEVENV]]>
      </Condition>
      <ComponentGroupRef Id="CmpGroup_vsx_2015"/>
      <ComponentGroupRef Id="CmpGroup_gdb.2015.i686"/>
      <ComponentGroupRef Id="CmpGroup_gdb.2015.x86_64"/>
      <ComponentGroupRef Id="CmpGroup_item_templates_2015"/>
      <ComponentGroupRef Id="CmpGroup_proj_templates_2015"/>
    </Feature>

    <Directory Id="TARGETDIR"
               Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="Dir_MSBuild"
                   Name="MSBuild" >
          <Directory Id="Dir_MSBuild_InstallLocation"
                     Name="VisualRust" />
        </Directory>
      </Directory>
    </Directory>

    <ComponentGroup Id="CmpGroup_MSBuild_Integration"
                    Directory="Dir_MSBuild_InstallLocation">
      <Component Id="Cmp_VisualRust_Targets"
                 Guid="{9A42A0F4-1CB0-4524-886E-E99BE752FE4E}">
        <File Id="File_VisualRust_Rust_Targets"
              Source="$(var.VisualRust.Build.TargetDir)VisualRust.Rust.targets"
              KeyPath="yes" />
      </Component>
      <Component Id="Cmp_VisualRust_Build_dll"
                 Guid="{47E8386B-BAA4-40B2-A0F3-36A0BE69901C}">
        <File Id="File_VisualRust_Build_dll"
              Source="$(var.VisualRust.Build.TargetDir)VisualRust.Build.dll"
              KeyPath="yes" />
      </Component>
      <Component Id="Cmp_VisualRust_Shared_dll_MSBuild" Guid="{B13DFA16-392F-4374-A21C-EEA1FDC3696E}">
        <File Id="File_VisualRust_Shared_dll_MSBuild" KeyPath="yes" Source="$(var.VisualRust.TargetDir)VisualRust.Shared.dll" />
      </Component>
    </ComponentGroup>
  </Product>
</Wix>