<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?define VsVersion  = "2015"?>
  <Fragment>
    <ComponentGroup Id="CmpGroup_vsx_$(var.VsVersion)" Directory="Dir_vsx_$(var.VsVersion)">
      <Component Id="Cmp_Antlr4_Runtime_net45_dll_$(var.VsVersion)" Guid="{AA5E0671-0780-4EF4-9A1F-749190900F0E}">
        <File Id="File_Antlr4_Runtime_net45_dll_$(var.VsVersion)" KeyPath="yes" Source="$(var.VisualRust.TargetDir)Antlr4.Runtime.net45.dll" />
      </Component>
      <Component Id="Cmp_extension_vsixmanifest_$(var.VsVersion)" Guid="{C54951E2-13EC-4F0A-A01D-C16DE809ECF0}">
        <File Id="File_extension_vsixmanifest_$(var.VsVersion)" KeyPath="yes" Source="$(var.VisualRust.TargetDir)extension.vsixmanifest" />
      </Component>
      <Component Id="Cmp_Microsoft_Common_Core_dll_$(var.VsVersion)" Guid="{ECC51E4D-B8A1-49E6-8C52-6C2B863BAA47}">
        <File Id="File_Microsoft_Common_Core_dll_$(var.VsVersion)" KeyPath="yes" Source="$(var.VisualRust.TargetDir)Microsoft.Common.Core.dll" />
      </Component>
      <Component Id="Cmp_VisualRust_ProjectSystem_FileMirroring_dll_$(var.VsVersion)" Guid="{790A5517-33AB-45C2-BA84-F8B1DC31EE79}">
        <File Id="File_VisualRust_ProjectSystem_FileMirroring_dll_$(var.VsVersion)" KeyPath="yes" Source="$(var.VisualRust.TargetDir)VisualRust.ProjectSystem.FileSystemMirroring.dll" />
      </Component>
      <Component Id="Cmp_RustLexer_dll_$(var.VsVersion)" Guid="{8F935DDE-4C7B-4BA9-9910-C4EA3CDB2422}">
        <File Id="File_RustLexer_dll_$(var.VsVersion)" KeyPath="yes" Source="$(var.VisualRust.TargetDir)RustLexer.dll" />
      </Component>
      <Component Id="Cmp_VisualRust_dll_$(var.VsVersion)" Guid="{A7EBA968-282D-4C0C-A547-5932AA539923}">
        <File Id="File_VisualRust_dll_$(var.VsVersion)" KeyPath="yes" Source="$(var.VisualRust.TargetDir)VisualRust.dll" />
      </Component>
      <Component Id="Cmp_VisualRust_pkgdef_$(var.VsVersion)" Guid="{AADB633C-CA79-4D8C-B825-21C22D12B3FF}">
        <File Id="File_VisualRust_pkgdef_$(var.VsVersion)" KeyPath="yes" Source="$(var.VisualRust.TargetDir)VisualRust.pkgdef" />
        <util:RestartResource Path="[VS14DEVENV]"/>
      </Component>
      <Component Id="Cmp_VisualRust_Shared_dll_$(var.VsVersion)" Guid="{41B6B354-136C-4D28-AAFB-0F56881E1533}">
        <File Id="File_VisualRust_Shared_dll_$(var.VsVersion)" KeyPath="yes" Source="$(var.VisualRust.TargetDir)VisualRust.Shared.dll" />
      </Component>
      <Component Id="Cmp_PistonDevelopers_MICore_dll_$(var.VsVersion)" Guid="{DB4BD315-1CDA-4586-9B35-AB700D26816E}">
        <File Id="File_PistonDevelopers_MICore_dll_$(var.VsVersion)" KeyPath="yes" Source="$(var.VisualRust.TargetDir)PistonDevelopers.MICore.dll" />
      </Component>
      <Component Id="Cmp_PistonDevelopers_MIDebugEngine_dll_dll_$(var.VsVersion)" Guid="{FB9BBC7F-DEAA-4DE5-A80A-93FEC1317FBD}">
        <File Id="File_PistonDevelopers_MIDebugEngine_dll_dll_$(var.VsVersion)" KeyPath="yes" Source="$(var.VisualRust.TargetDir)PistonDevelopers.MIDebugEngine.dll" />
      </Component>
      <Component Id="Cmp_Cmp_Newtonsoft_Json_dll_$(var.VsVersion)" Guid="{9852F0B4-C5F4-4122-803B-9B4769C7EE76}">
        <File Id="File_Newtonsoft_Json_dll_$(var.VsVersion)" KeyPath="yes" Source="$(var.VisualRust.TargetDir)Newtonsoft.Json.dll" />
      </Component>
      <Component Id="Cmp_Additional_Asemblies_$(var.VsVersion)" Guid="{9208FB5B-4D30-4996-82A7-778B6BDB8201}">
        <File Id="File_System_Collections_Immutable_dll_$(var.VsVersion)" Source="$(var.VisualRust.TargetDir)System.Collections.Immutable.dll" />
        <File Id="File_System_Composition_AttributedModel_dll_$(var.VsVersion)" Source="$(var.VisualRust.TargetDir)System.Composition.AttributedModel.dll" />
        <File Id="File_System_Composition_Convention_dll_$(var.VsVersion)" Source="$(var.VisualRust.TargetDir)System.Composition.Convention.dll" />
        <File Id="File_System_Composition_Hosting_dll_$(var.VsVersion)" Source="$(var.VisualRust.TargetDir)System.Composition.Hosting.dll" />
        <File Id="File_System_Composition_Runtime_dll_$(var.VsVersion)" Source="$(var.VisualRust.TargetDir)System.Composition.Runtime.dll" />
        <File Id="File_System_Composition_TypedParts_dll_$(var.VsVersion)" Source="$(var.VisualRust.TargetDir)System.Composition.TypedParts.dll" />
        <File Id="File_System_Threading_Tasks_Dataflow_dll_$(var.VsVersion)" Source="$(var.VisualRust.TargetDir)System.Threading.Tasks.Dataflow.dll" />
      </Component>
      <!-- Racer files -->
      <ComponentGroupRef Id="CmpGroup_Racer_2015"/>
      <!-- Open .rsproj with VS launcher -->
      <Component Id="Cmp_RsprojRegistration_$(var.VsVersion)" Guid="{D78325B7-966F-44C1-A8ED-2074C4EDC106}">
        <CreateFolder/>
        <ProgId Id="VisualRust.Launcher" Description="Rust Project">
          <Extension Id="rsproj" ContentType="text/plain">
            <Verb Id="Open" Command="Open" TargetProperty="VSLAUNCHER" Argument="&quot;%1&quot;"/>
          </Extension>
        </ProgId>
      </Component>
      <!-- TODO: Is there a way to also associate Cargo.toml with VS launcher? -->
      <!-- Open .rs with context menu  -->
      <Component Id="Cmp_RsRegistration_$(var.VsVersion)" Guid="{56E579B9-6657-4900-B0F8-979152643F6A}">
        <CreateFolder/>
        <RegistryValue Root="HKCR" Key=".rs\OpenWithProgids" Name="VisualRust.Launcher" Type="string" Value="" />
      </Component>
    </ComponentGroup>
    <PropertyRef Id="VS14DEVENV" />
    <!--
      This custom actions is taken pretty much verbatim from the WiX source. One differences is that we check if the vsx2015 feature was selected (or is being uninstalled).
    -->
    <CustomAction Id="CA_VS2015Setup" Property="VS14DEVENV" ExeCommand="/setup" Execute="deferred" Return="ignore" Impersonate="no" />
    <InstallExecuteSequence>
      <Custom Action="CA_VS2015Setup" Before="InstallFinalize"><![CDATA[(VS14DEVENV AND &Ftr_VisualRust_2015=3) OR ((NOT UPGRADINGPRODUCTCODE) AND (&Ftr_VisualRust_2015=2) AND (!Ftr_VisualRust_2015=3))]]></Custom>
    </InstallExecuteSequence>
    <UI>
      <ProgressText Action="CA_VS2015Setup">Configuring Visual Studio 2015 (this might take a few minutes)</ProgressText>
    </UI>
  </Fragment>
</Wix>