<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="CmpGroup_vsx2013" Directory="Dir_MSBuild_InstallLocation">
      <Component Id="Cmp_Antlr4_Runtime_net45_dll" Guid="{762AC9CD-9E49-4498-AD43-6FA96DDA5252}">
        <File Id="File_Antlr4_Runtime_net45_dll" KeyPath="yes" Source="$(var.VisualRust.TargetDir)Antlr4.Runtime.net45.dll" />
      </Component>
      <Component Id="Cmp_extension_vsixmanifest" Guid="{0530F158-140D-4049-9A5E-872E177B0876}">
        <File Id="File_extension_vsixmanifest" KeyPath="yes" Source="$(var.VisualRust.TargetDir)extension.vsixmanifest" />
      </Component>
      <Component Id="Cmp_Microsoft_VisualStudio_Project_dll" Guid="{10A9BDCC-3D04-4CE8-B412-3642C0B5F1E7}">
        <File Id="File_Microsoft_VisualStudio_Project_dll" KeyPath="yes" Source="$(var.VisualRust.TargetDir)Microsoft.VisualStudio.Project.dll" />
      </Component>
      <Component Id="Cmp_RustLexer_dll" Guid="{82BDDBEC-9937-4478-B8BE-BD3ADE93BB55}">
        <File Id="File_RustLexer_dll" KeyPath="yes" Source="$(var.VisualRust.TargetDir)RustLexer.dll" />
      </Component>
      <Component Id="Cmp_VisualRust_dll" Guid="{586D8DB5-1342-46B0-9730-6A32AE3BDD9E}">
        <File Id="File_VisualRust_dll" KeyPath="yes" Source="$(var.VisualRust.TargetDir)VisualRust.dll" />
      </Component>
      <Component Id="Cmp_VisualRust_pkgdef" Guid="{EC760202-90E8-4365-B848-D056CD4931D8}">
        <File Id="File_VisualRust_pkgdef" KeyPath="yes" Source="$(var.VisualRust.TargetDir)VisualRust.pkgdef" />
      </Component>
      <Component Id="Cmp_VisualRust_Project_dll" Guid="{28F566C7-23AD-439B-8AF9-E924C45EE715}">
        <File Id="File_VisualRust_Project_dll" KeyPath="yes" Source="$(var.VisualRust.TargetDir)VisualRust.Project.dll" />
      </Component>
      <Component Id="Cmp_VisualRust_vsix" Guid="{48899E88-9B07-4F02-A704-EC0167D06284}">
        <File Id="File_VisualRust_vsix" KeyPath="yes" Source="$(var.VisualRust.TargetDir)VisualRust.vsix" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>