<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <PropertyRef Id="VS2013_EXTENSIONS_DIR" />
    <DirectoryRef Id="TARGETDIR">
      <Directory Id="VS2013_EXTENSIONS_DIR">
        <Directory Id="Dir_vsx2013" Name="Visual Rust"/>
      </Directory>
    </DirectoryRef>
    <ComponentGroup Id="CmpGroup_vsx2013" Directory="Dir_vsx2013">
      <Component Id="Cmp_Antlr4_Runtime_net45_dll" Guid="{762AC9CD-9E49-4498-AD43-6FA96DDA5252}">
        <File Id="File_Antlr4_Runtime_net45_dll" KeyPath="yes" Source="$(var.VisualRust.TargetDir)Antlr4.Runtime.net45.dll" />
      </Component>
      <Component Id="Cmp_extension_vsixmanifest" Guid="{0530F158-140D-4049-9A5E-872E177B0876}">
        <File Id="File_extension_vsixmanifest" KeyPath="yes" Source="$(var.VisualRust.TargetDir)extension.vsixmanifest" />
      </Component>
      <Component Id="Cmp_Microsoft_VisualStudio_Project_dll" Guid="{10A9BDCC-3D04-4CE8-B412-3642C0B5F1E7}">
        <File Id="File_Microsoft_VisualStudio_Project_dll" KeyPath="yes" Source="$(var.VisualRust.TargetDir)Microsoft.VisualStudio.Project.dll" />
      </Component>
      <Component Id="Cmp_RustLexer_dll" Guid="{82BDDBEC-9937-4478-B8BE-BD3ADE93BB55}">
        <File Id="File_RustLexer_dll" KeyPath="yes" Source="$(var.VisualRust.TargetDir)RustLexer.dll" />
      </Component>
      <Component Id="Cmp_VisualRust_dll" Guid="{586D8DB5-1342-46B0-9730-6A32AE3BDD9E}">
        <File Id="File_VisualRust_dll" KeyPath="yes" Source="$(var.VisualRust.TargetDir)VisualRust.dll" />
      </Component>
      <Component Id="Cmp_VisualRust_pkgdef" Guid="{EC760202-90E8-4365-B848-D056CD4931D8}">
        <File Id="File_VisualRust_pkgdef" KeyPath="yes" Source="$(var.VisualRust.TargetDir)VisualRust.pkgdef" />
      </Component>
      <Component Id="Cmp_VisualRust_Project_dll" Guid="{28F566C7-23AD-439B-8AF9-E924C45EE715}">
        <File Id="File_VisualRust_Project_dll" KeyPath="yes" Source="$(var.VisualRust.TargetDir)VisualRust.Project.dll" />
      </Component>
    </ComponentGroup>
    <!--
      These custom actions are taken pretty much verbatim from the WiX source
      One difference is that we check if the vsx23013 got installed
    -->
    <PropertyRef Id="VS2013DEVENV" />
    <CustomAction Id="VS2013Setup_Custom" Property="VS2013DEVENV" ExeCommand="/setup" Execute="deferred" Return="ignore" Impersonate="no" />
    <CustomAction Id="VS2013InstallVSTemplates_Custom" Property="VS2013DEVENV" ExeCommand="/InstallVSTemplates" Execute="deferred" Return="ignore" Impersonate="no" />
    <InstallExecuteSequence>
      <Custom Action="VS2013Setup_Custom" Before="InstallFinalize"><![CDATA[VS2013DEVENV AND &Ftr_VisualRust=3]]></Custom>
      <Custom Action="VS2013InstallVSTemplates_Custom" Before="InstallFinalize"><![CDATA[VS2013DEVENV AND &Ftr_VisualRust=3]]></Custom>
    </InstallExecuteSequence>
  </Fragment>
</Wix>