<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <?define VSIXBootstrapperPath = "..\packages\VSIXBootstrapper.1.0.25\tools\VSIXBootstrapper.exe" ?>
  <Bundle Name="Visual Rust for Visual Studio 2017" Version="0.2.0.0" Manufacturer="The Piston Project" UpgradeCode="{EA207740-54A5-4433-A860-7F92C280F60A}">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication
        SuppressOptionsUI="yes"
        LicenseFile="..\LICENSE.rtf"
        ShowVersion="yes"
        ShowFilesInUse="yes"/>
    </BootstrapperApplicationRef>
    <Chain>
      <MsiPackage
        Id="VisualRust.MSBuild.2017"
        DisplayName="Visual Studio 2017 MSBuild targets and tasks"
        SourceFile="$(var.VisualRust.MSBuild.2017.TargetPath)"/>
      <ExePackage
        Id="VSIXBootstrapper"
        DisplayName="Visual Studio 2017 extension"
        Description="Extension for Visual Studio 2017. Provides support for Rust projects."
        SourceFile="$(var.VSIXBootstrapperPath)"
        PerMachine="yes"
        InstallCommand="/admin /logFile:&quot;[WixBundleLog_VSIXBootstrapper]&quot; &quot;[WixBundleExecutePackageCacheFolder]VisualRust.vsix&quot;"
        UninstallCommand="/admin /logFile:&quot;[WixBundleLog_VSIXBootstrapper]&quot; /u:40c1d2b5-528b-4966-a7b1-1974e3568abe">
        <PayloadGroupRef Id="VSIXBootstrapper"/>
        <PayloadGroupRef Id="VisualRust.2017.vsix"/>
      </ExePackage>
    </Chain>
  </Bundle>
  <Fragment>
    <PayloadGroup Id="VSIXBootstrapper">
      <Payload
        SourceFile="$(var.VSIXBootstrapperPath)"
        Compressed="yes"/>
    </PayloadGroup>
    <PayloadGroup Id="VisualRust.2017.vsix">
      <Payload
        SourceFile="$(var.VisualRust.2017.TargetDir)VisualRust.vsix"
        Compressed="yes"/>
    </PayloadGroup>
  </Fragment>
</Wix>
