<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <?define UpgradeCode = {A8C1277C-3E63-49B5-AEF4-CD2BAC314E2C} ?>
  <?define VsVersion = 2015 ?>
  <?define VisualRust.Setup.MSBuild.TargetPath = $(var.VisualRust.Setup.MSBuild.2015.TargetPath) ?>
  <?define VisualRust.Setup.FileAssociation.TargetPath = $(var.VisualRust.Setup.FileAssociation.2015.TargetPath) ?>
  <?define VisualRust.TargetDir = $(var.VisualRust.2015.TargetDir) ?>
  <?include Product.wxi ?>
</Wix>
